<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cl.magnesia.itransantiago"
    android:theme="@style/AppBaseTheme"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <permission
        android:name="cl.magnesia.itransantiago.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="cl.magnesia.itransantiago.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:label="@string/app_name" >

        <!-- Sugar ORM -->
        <meta-data
            android:name="DATABASE"
            android:value="favoritos.db" />
        <meta-data
            android:name="VERSION"
            android:value="4" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="cl.magnesia.itransantiago.models" />

        <!-- Permissions -->


        <!-- Google MAP API key -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBjWfj2ahPPxw04yW4WjSpny0_QQG8WrJk" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ParaderosActivity"
            android:label="@string/title_activity_paraderos"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ParaderosBusquedaActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PuntosBIPActivity"
            android:label="PuntosBIPActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PuntosBIPDetalleActivity"
            android:label="PuntosBIPDetalleActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PlanificadorActivity"
            android:label="@string/title_activity_planificador"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PlanificadorConfigActivity"
            android:label="@string/title_activity_planificador_config"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PlanificadorItinerariosActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RecorridosActivity"
            android:label="@string/title_activity_recorridos" >
        </activity>
        <activity
            android:name=".RecorridosResultadoActivity"
            android:label="@string/title_activity_recorridos_resultado" >
        </activity>
        <activity
            android:name=".PlanificadorTramoActivity"
            android:label="@string/title_activity_planificador_tramo" >
        </activity>
        <activity
            android:name=".RecorridosParaderoActivity"
            android:label="@string/title_activity_recorridos_paradero" >
        </activity>
        <activity
            android:name=".FavoritosActivity"
            android:label="@string/title_activity_favoritos" >
        </activity>
    </application>

</manifest>